<html>
        <head>
            {% load static %}
            <link rel='stylesheet' href='{% static 'users/style.css' %}'>
        </head>
        <body>
            <h1>Update {{user.name}}</h1>
            <form action='/users/update/{{user.id}}' method='POST'>
                {% csrf_token %}
                <div>
                    <label>Name</label>
                    <input type='text' name='name' value='{{user.name}}'>
                </div>
                <div>
                    <label>Email</label>
                    <input type='text' name='email' value='{{user.email}}'>
                </div>
                <div>
                    <label>age</label>
                    <input type='number' name='age' min='1' step='1' value='{{user.age}}'>
                </div>
                <div>
                    <input type='submit' value='Update'>
                </div>
            </form>
        </body>
    
    </html>