<!DOCTYPE html>
<html>
	<head>
		<title>Sports Leagues</title>
		{% load static %}
		<link href="{%static 'css/style.css' %}" rel="stylesheet">
	</head>
	<body>
		<h1>Leagues</h1>
		<ol>
			{% for league in leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Teams</h1>
		<ol>
			{% for team in teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Players</h1>
		<ol>
			{% for player in players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Baseball Leagues</h1>
		<ol>
			{% for league in all_baseball_leagues %}
				<li>{{league.name}} - {{league.sport}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Women's Leagues</h1>
		<ol>
			{% for league in all_womens_leagues%}
				<li>{{league.name}} = {{league.sport}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Hockey Leagues</h1>
		<ol>
			{% for league in all_hockey_leagues%}
				<li>{{league.name}} = {{league.sport}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Non-Football Leagues</h1>
		<ol>
			{% for league in all_non_football_leagues%}
				<li>{{league.name}} = {{league.sport}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Conference Leagues</h1>
		<ol>
			{% for league in all_conference_leagues%}
				<li>{{league.name}} = {{league.sport}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Atlantic Leagues</h1>
		<ol>
			{% for league in all_Atlantic_leagues%}
				<li>{{league.name}} = {{league.sport}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Dallas Teams</h1>
		<ol>
			{% for team in all_Dallas_teams %}
				<li>{{team.team_name}} = {{team.location}}</li>
				{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Raptors Teams</h1>
		<ol>
			{% for team in all_Raptors_teams %}
				<li>{{team.location}} = {{team.team_name}}</li>
				{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>City Teams</h1>
		<ol>
			{% for team in all_City_location_teams %}
				<li>{{team.team_name}} = {{team.location}}</li>
				{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>T Teams</h1>
		<ol>
			{% for team in all_first_letter_T_teams %}
				<li>{{team.team_name}} = {{team.location}}</li>
			{% endfor %}
		</ol>
	</body>
</html>
 <!-- all_first_letter_T_teams
 all_teams_alphabetically
 all_teams_reverse_alpha
 all_last_name_Cooper_players
 all_first_name_Joshua_players
 all_Cooper_not_Joshua_players
 all_Alexander_and_Wyatt_players -->
