<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Survery Index</title>
  </head>
  <body>

    <div class="">

    <form action="/users" method="post">

      <div class="">
        Name: <input type="text" name="name">
      </div>

      <div class="">
        <label for="Dojo Location">Dojo Location</label>
        <select>
          <option value="Dallas">Dallas</option>
          <option value="San Jose">San Jose</option>
          <option value="Burbank">Burbank</option>
          <option value="Orange County">Orange County</option>
        </select>
      </div>

      <div class="">
        <label for="Favorite Language">Favorite Language</label>
        <select>
          <option value="Python">Python</option>
          <option value="JavaScript">JavaScript</option>
          <option value="Ruby">Ruby</option>
          <option value="jQuery">jQuery</option>
        </select>
      </div>

      <div class="">
        Comment (optional): <input type="text" name="comments">
      </div>

      <div class="">
        <button type="submit">Create User</button>
      </div>
    </form>

    </div>
  </body>
</html>
