<html>
    <head>

    </head>
    <body>
        <div>
            <h1>Create A New Friend</h1>
            <form action='/friends/create' method='post'>
                <div>
                    <label>First Name:</label>
                    <input type='text' name='first_name'>
                </div>
                <div>
                    <label>Last Name:</label>
                    <input type='text' name='last_name'>
                </div>
                <div>
                    <label>Occupation:</label>
                    <input type='text' name='occupation'>
                </div>
                <div>
                    <input type='submit' value='Create Friend'>
                </div>

            </form>
        </div>
    </body>
</html>