<html>  
    <head>
        <meta charset='utf-8'>
        <title>Random Word</title>
    </head>

    <body>
        
        <div>
            <h3>Random Word (attempt #)</h3>
            <h1>    </h1>
            
            <form action="/random_word/generate" method='POST'>
                {% csrf_token %}
                <input type="submit" value="Get String">
                <button id='generate' name='generate' value='generate' action='generate'>Generate</button>
            </form>
        </div>


    </body>

</html>