.right_container,.left_container{
    width: 48%;
    border-left: 5px solid black;
    display: inline-block;
    vertical-align: top;
}
.error{
    color: red
}
.red{
    color: red;
}
.green{
    color: green;
}
.blue{
    color: blue;
}
.black {
    color: black;
}
.default_font{

}
.large_font{
    font-size: 22px;
}