<html>
<head>
    <title>Amadon</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'amadon/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <div id='left_container'>
        <table>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>Dojo Tshirt</td>
                <td>$19.99</td>
                <td>
                <form action='/amadon/buy' method='post'>
                    {% csrf_token %}
                    <select name='quantity'>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <input type='hidden' name='product_id' value='1015' />
                    <input type='submit' value='Buy!' />
                </form>
                </td>
            </tr>
            <tr>
                <td>Dojo Sweater</td>
                <td>$29.99</td>
                <td>
                <form action='/amadon/buy' method='post'>
                    {% csrf_token %}
                    <select name='quantity'>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <input type='hidden' name='product_id' value='2015' />
                    <input type='submit' value='Buy!' />
                </form>
                </td>
            </tr>
            <tr>
                <td>Dojo Cup</td>
                <td>$4.99</td>
                <td>
                <form action='/amadon/buy' method='post'>
                    {% csrf_token %}
                    <select name='quantity'>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <input type='hidden' name='product_id' value='3015' />
                    <input type='submit' value='Buy!' />
                </form>
                </td>
            </tr>
            <tr>
                <td>Algorithm Book</td>
                <td>$49.99</td>
                <td>
                <form action='/amadon/buy' method='post'>
                    {% csrf_token %}
                    <select name='quantity'>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <input type='hidden' name='product_id' value='4015' />
                    <input type='submit' value='Buy!' />
                </form>
                </td>
            </tr>
        </table>
</body>
</html>