.halfSize {
    width: 48%;
    display: inline-block;
}
.border-left {
    border-left: 1px solid black;
}
.border-right {
    border-right: 1px solid black;
}
.error {
    color: red;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}
.black {
    color: black;
}
.large_font {
    font-size: 24px;
}