<html>
    <head>

    </head>
    <body>
        <h1>Welcome to the Wall!</h1>
        <h3>Post messages and comments between users</h3>
        <table> 
            <tr>
                <th>Messages:</th> 

            </tr>
            {% for message in messages %}

            <tr>
                <td>{{ message['message_text'] }}</td>
            </tr>

            {% endfor %}

        </table> 


        <form action='/message' method='POST'>
            <p><label for="message"><textarea name="message" id="message" rows="4" cols="50" ></textarea></label></p>
            <input type="submit" value="Post">
        </form>



    </body>

</html>