<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Users</h1>
        <table>
            <tr>
                <th>id</th>
                <th>full name</th>
                <th>email</th>
                <th>created at</th>
                <th>actions</th>    
            </tr>
            <tr>
                <!-- <td>{{id}}</td>
                <td>{{full_name}}</td>
                <td>{{email}}</td>
                <td>{{created_at}}</td>
                <td>{{show}} {{edit}} {{delete}}</td> -->
            </tr>
        </table>
    
    </body>
</html>