<html>
<head>

</head>
<body>
    <div>
    <h2>Fill this bad puppy out!</h2>
    <p>dojo route</p>
    <form action='/users' method='post'>
        <div>
            <label for=''>Name</label>
            <input type='text' name='name'>
        </div>
        <div>
            <label for=''>Email</label>
            <input type='text' name='email'>
        </div>
        <input type='submit' vlaue='make your user'>
        <button type='submit'>Create User button</button>
    </form>
    </div>
</body>
</html>