<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
    <body>
        <div>
            <h1>Recent Book Reviews</h1>
            <p>chunks of info about the books</p>
        </div>
        <div>
            <h1>Other Books With Reviews</h1>
            <p>in a scroll box</p>
        </div>
        <div>
            <!-- link that leads to the book review/upload page -->
            <a href="/books/add">Add Book and Review</a>
        </div>
    </body>
</html>