<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
    <body>
        <div>
            <p>Amadon Store!</p>            
        </div>
        <div>
            <table>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
                <tr>
                    <td>Dojo Tshirt</td>
                    <td>$19.99</td>
                    <td><select>
                            <option name = '1'>1</option>
                            <option name = '2'>2</option>
                            <option name = '3'>3</option>
                       
                    </select></td>
                    <td><input type="submit" value="Buy!"></td>
                </tr>
                <tr>
                        <td>Dojo Sweater</td>
                        <td>$29.99</td>
                        <td><select>
                                <option name = '1'>1</option>
                                <option name = '2'>2</option>
                                <option name = '3'>3</option>
                           
                        </select></td>
                        <td><input type="submit" value="Buy!"></td>
                    </tr>
                    <tr>
                            <td>Dojo cup</td>
                            <td>$4.99</td>
                            <td><select>
                                    <option name = '1'>1</option>
                                    <option name = '2'>2</option>
                                    <option name = '3'>3</option>
                               
                            </select></td>
                            <td><input type="submit" value="Buy!"></td>
                        </tr>
                        <tr>
                                <td>Algo Book</td>
                                <td>$49.99</td>
                                <td><select>
                                        <option name = '1'>1</option>
                                        <option name = '2'>2</option>
                                        <option name = '3'>3</option>
                                   
                                </select></td>
                                <td><input type="submit" value="Buy!"></td>
                            </tr>
            </table>
        </div>
    </body>
</html>
Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help