<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body>
        <h1>You have entered the Fist</h1>
        <img src='templates/fist.jpg' alt="fist picture">
        <p>Ninja info(Ninfo): ninjas are super sneaky. In fact the worst ninjas are the japanese ones you always see. every other country has ninjas, but theyre so good no one ever sees or hears them at all. At the bottom of this page is the rarest image on earth: it shows an actual ninja dressed in black against a white background, try and find him.</p>
    </body>
</html>
<!-- comment -->

<!-- https://brainchemist.files.wordpress.com/2010/10/fist.jpg -->