.error{
    color: red;
}
.container{
    display: inline-block;
    vertical-align: top;
    border: 3px solid black;
    width: 30%;
}
.header{
    text-align: right;
}
.left,.right{
    display: inline-block;
    vertical-align: top;
    width: 48%;
}