<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Session Words</title>
    </head>
    <body>
        <h1>Add a new Word</h1>
        <form action="/modify" method="POST"/>
            {% csrf_token %}
            <input type="text" name="name" />
            <p></p>
            <label>Choose Color</label>
            <p><input type="radio" name="color" value="Red" />Red</p>
            <p><input type="radio" name="color" value="Green" />Green</p>
            <p><input type="radio" name="color" value="Blue" />Blue</p>
            <p><input type="checkbox" name="checkbox" />show in BIG fonts!</p>
            <input type="submit" value="Add to Session" />
        </form>

    </body>
</html>
