<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'users/style.css' %}">
    </head>
    <body>
        <h1>Create a new User</h1>
        <form action="/users/create" method="post">
            {% csrf_token %}
            <div>
                <label>Name</label>
                <input type="text" name="name">
            </div>
            <div>
                <label>Email</label>
                <input type="text" name="email">
            </div>
            <div>
                <label>Age</label>
                <input type="number" name="age" min="1" step="1">
            </div>
            <div>
                <input type="submit" value="Create User">
            </div>
        </form>
    </body>
</html>