<html>
    <head>

    </head>
    <body>
        <div>
            <h1>Fill out the form to make a new user</h1>
            <form action="/users" method="post">
                <div>
                    <label for="">Name</label>
                    <input type="text" name="name">
                </div>
                <div>
                    <label for="">Email</label>
                    <input type="text" name="email">
                </div>
                <input type="submit" value="Create User">
                <button type="submit">Create User B</button>
            </form>
        </div>
    </body>
</html>