<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
    <body>
        <div>
            <h1>Thank you for you money!</h1>            
        </div>
        <div>
            <p>We charged your credit card for {{ payment }}.</p>
            <p>you have ordered {{quantity}} items so far and spent {{ total_payment }} with amadon.com.</p>
            
        </div>
    </body>
</html>