<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Survey Form</title>
    </head>
    <body>
        <form action = "/process" method = "POST">{% csrf_token %}
            Your Name: <input type = 'text' name='name' />
            <br />
            Dojo Location: <select name ="location">
                <option value="Mountain View">Mountain View</option>
                <option value="Dallas">Dallas</option>
                <option value="Chicago">Chicago</option>
                <option value="WashingtonDC">Washington DC</option>
                <option value="SanJose">San Jose</option>
            </select>
            <br />
            Favorite Language: <select name ="language">
                <option value="Python">Python</option>
                <option value="Javascript">Javascript</option>
                <option value="Ruby">Ruby</option>
                <option value="C#">C#</option>
            </select>
                <br />
            Comment (optional):
                <input type = "text" name = "comments" />
                <br />
                <br />
            <input type = 'submit' name = 'submit'/>
        </form>

    </body>
</html>
