<html>
    <head>
        <title>Friends</title>
    </head>
    <body>
        <h1>Friends:</h1>
        <table id="table1"style="width:50%">
            <th>Name</th>

            <th>Age</th>

            <th>Friend Since </th>
            <th>
                Year
            </th>

        </table>
        <form>
            <h1>Add a Friend:</h1>
            Name:
            <input  type="text" name="full_name"/>
            <p> </p>
            Age:
            <input type="text" age="age"
            </form>
            <p>

            </p>
            <form action="/submission">
                <input type="submit" value="Submit" />
            </form>


    </body>
</html>
