<html>
    <head>
        
    </head>
    <body>
        <h1>Fill this Form</h1>
        <div>
            <form action='/users' method = 'post' >
                <div>
                   <label for="">Name</label>
                   <input type="text" name="FirstName" value=""> <input type="text" name="LastName" value="">
                   </div>

                    <div>
                   <label for="">Email</label>
                   <input type="text" name="Email" value="">
                    </div>

                    <div>
                   <button type="submit">Continue</button>
                   <button type="submit">Create</button>
                </div>
            </form>
        </div>
    </body>
</html>