<html>

<head>
    <title>Ninja</title>
</head>

<body>
    <div>

        <h1>Intro</h1>
        <p>A ninja (忍者) or shinobi (忍び) was a covert agent or mercenary in feudal Japan. The functions of the ninja included espionage, sabotage, infiltration, assassination and guerrilla warfare.[1] Their covert methods of waging irregular warfare were
            deemed dishonorable and beneath the samurai-caste, who observed strict rules about honor and combat.[2] The shinobi proper, a specially trained group of spies and mercenaries, appeared in the 15th century during the Sengoku period,[3] but
            antecedents may have existed in the 14th century,[4] and possibly in the 12th century (Heian or early Kamakura era).[5][6]</p>
        <h2>Types of Ninja Weapon</h2>
    </div>
    <div>
        <h3> Shuriken (Ninja Star) </h3>
        <p>Among the weapons that ninjas use, the most famous one must be the Shuriken (手裏剣 : Ninja Star) . Everyone has to have watched a scene where a ninja is throwing some star shaped piece of metal in the movies or in an anime or another piece of fiction.
            They are called shuriken in Japanese. Of the several kinds of shuriken, maybe the most typical kind is the Flat plate type. The shape of it is like an asteroid with four arms. But actually, there are no more than 40 to 50 types of shurikens.</p>

        <h3>Ninja Sword</h3>
        <p>Ninja swordSamurai SwordThe swords considered to be those used by ninjas are quite specific. Firstly, compared with those of samurais, they are straight and short. The length of the blade is about 540 mm. On the other hand, samurais swords have
            a curve on the blade for sharpness and the length of the blade is about 700 mm. It is believed that the reason why ninja’s swords have these characteristics is for various functions of use.</p>

        <h3>Kusarigama</h3>
        <p>KusarigamaKusarigama is a weapon that has a sickle and a weight and looks very complex. They are connected with a chain. The length of the chain is about 1000-4000 mm. To use it, the weight was thrown at the enemy’s weapon to drop it or used to
            coil the weight around an arm or the enemy’s weapon with the chain. After that, a finishing blow was dealt with the sickle to the enemy.</p>

        <h3>Kunai</h3>
        <p>KunaiBasically for Ninjas, there is no determinate distinction between tools and weapons. Ninjas utilize everything around them or everything that they have with them both as tools and weapons.Kunai (苦無) is an implement which indicates such speciality
            of Ninjas. Kunai is the most famous weapon of Ninjas second only to Shuriken (手裏剣) . Kunai is made of steel and the shape is like a wedge.</p>

    </div>
</body>

</html>