<html>
    <head>
        
    </head>
    <body>
        <div>
            <h1>Create a New User</h1>
            <form action="/users" method="post">
                <div>
                    <label>Name</label>
                    <input type="text" name="name">
                </div>
                <div>
                    <label>Email</label>
                    <input type="text" name="email">
                </div>
                <div>
                    <label>Password</label>
                    <input type="password" name="password">
                </div>
                <div>
                    <input type="submit" value="Create User">
                </div>
            </form>
        </div>
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for error in messages %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </body>
</html>