<html>
<head>

</head>
<body>
  <div>
    <h2>This is Dojo Survey!</h2>    
    <form action='/users' method='post'>
        <div>
            <label for=''>Your Name</label>
            <input type='text' name='name'>
                   
        </div>
        <div>
            <label for=''>email</label>
            <input type='text' name='email'>           
        </div>
        <div>
            <label for=''>Location</label>
            <input type='text' name='location'>           
        </div>
        <div>
            <label for=''>Favorite Language</label>
            <input type='text' name='language'>           
        </div>
        <input type='submit' vlaue='Send Info'>
    </form>
    </div>

</body>
</html>