<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
         <link href="css/style.css" rel="stylesheet"> 
    </head>
    <body>
        <div>
            <h1>Please fill out the form below.</h1>
            <form action="/process" method = "POST">
                <div>
                    <label for="">Full Name</label>
                    <input type="text" name="Full_Name">
                </div>
                <div>
                    <input type="submit" name="new_user" value="Create User">
                </div>
                
            </form>                       
        </div>

    </body>
</html>