h1{
	color: darkblue;
}

.register{
	border: 1pt solid black;
	display: inline-block;
	margin: 10px;
	padding: 10px;
}
.login{
	border: 1pt solid black;
	display: inline-block;
	margin: 10px;
	padding: 10px;
}
.errors{
	color: red;
}
