<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'user_review/css/style.css' %}">
</head>
<body>
    <div class="header">
        <p><a href='/user_review/success'>Home</a> ___ <a href='/user_review/logout'>Logout</a></p>
    </div>
    <h2>Add a New Book Title and a Review:</h2>
    
</body>
</html>