<html>
<head>
    <meta charset='utf-8'>
  <title>Counter Index</title>
  <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='css/index.css') }}'>
  <script type='text/javascript' src='{{ url_for('static', filename='js/my_script.js') }}'></script>
</head>
<body>
    <div>
        <h1>WINNER!!</h1>
        <p>Great Job!</p>
    </div>
    
    <div>
        <form action='/reset' method='post'>
           
            <input type='submit' value='Play Again?!'name='reset'>
            <button type='submit' name='reset'>Play Again?!</button>
        </form>
    </div>
    


</body>
</html>