<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random Word Generator</title>
   
</head>
<body>
    <div class = "container">
       <form action="/index" method ="post">
        <div>
            <label>Random Word</label>
        </div>
        <div>
            <input type="text" name="word">
        </div>
            <div>
                <input type="submit" value="Generate">
            </div>
            
        </form>
        
    </div>
    
</body>
</html>